{{extend 'layout2.html'}}

{{
def simple_table(fields):
	price = False
	for f in fields:
		if hasattr(db.anmeldung[f], 'preis'):
            price=True
         pass
    pass
		
	rows = []
	for f in fields:
		td1 = TD(db.anmeldung[f].label+": ")
		v = session.vars[f]
		if isinstance(v, datetime.date):
			td2 = TD(v.strftime(T("%d.%m.%Y", lazy=False)))
		elif hasattr(db.anmeldung[f], 'represent') and db.anmeldung[f].represent is not None:
			td2 = db.anmeldung[f].represent(v,None)
		else:
			td2 = TD(v if type(v) is not bool else T(str(v)))
			pass
		if price:
			if hasattr(db.anmeldung[f], 'preis') and v:
				td3 = TD(db.anmeldung[f].preis)
			else:
				td3 = TD()	            
				pass
			rows.append(TR(td1,td2,td3))									
		else:
			rows.append(TR(td1,td2))
			pass
		pass
	return TABLE(*rows, _class='simpletable')
	pass
}}

{{=H2(T('Bitte prüfe die Daten und bestätige sie unten'))}}

{{=H3(T("Persönliche Daten"))}}

{{=simple_table(['vorname', 'nachname', 'email', 'telefon', 'strasse', 'plz', 'ort',
                 'geburtsdatum', 'vegetarier', 'mitglied', 'bezirk'])}}


{{=H3(T("Unterkunft"))}}

{{=simple_table(['anreise', 'abreise', 'unterkunft'])}}


{{=H3(T("Sonntag 01.05.2016"))}}

{{=simple_table(['so_barfuesser'])}}


{{=H3(T("Montag 02.05.2016"))}}

{{=simple_table(['mo_wuerzburg', 'mo_essen'])}}


{{=H3(T("Sonstiges"))}}

{{=simple_table(['kommentar'])}}

{{=H3(T("Gesamtpreis: %.2f €") % session.vars.betrag)}}




{{=form}}


