{{response.title = 'ET2016 - Anmeldung'}}
{{extend 'layout2.html'}}

{{
form.elements("#anmeldung_vorname__row")[0].insert(0,H3(T("Persönliche Daten")))
form.elements("#anmeldung_so_barfuesser__row")[0].insert(0,H3(T("Sonntag 01.05.2016")))
form.elements("#anmeldung_mo_wuerzburg__row")[0].insert(0,H3(T("Montag 02.05.2016")))
form.elements("#anmeldung_di_reichsparteitag__row")[0].insert(0,H3(T("Dienstag 03.05.2016")))
form.elements("#anmeldung_mi_wanderung__row")[0].insert(0,H3(T("Mittwoch 04.05.2016")))
form.elements("#anmeldung_do_minigolf__row")[0].insert(0,H3(T("Donnerstag 05.05.2016")))
form.elements("#anmeldung_fr_regensburg__row")[0].insert(0,H3(T("Freitag 06.05.2016")))
form.elements("#anmeldung_sa_stadtfuehrung__row")[0].insert(0,H3(T("Samstag 07.05.2016")))
form.elements("#anmeldung_so_verabschiedung__row")[0].insert(0,H3(T("Sonntag 08.05.2016")))
form.elements("#anmeldung_kommentar__row")[0].insert(0,H3(T("Sonstiges")))
}}
  
<script>
function options() {
  var params = arguments;
  if (params.length<2) {
    return;
  }
  for (var i=0; i<params.length; i++) {
    $('input[name='+params[i]+']').change(function(notuse) {
      return function() {
        if ($(this).is(':checked')) {
          for (var j=0; j<params.length; j++) {
            if (j != notuse) {
              $('input[name='+params[j]+']').attr('checked', false);
            }
          }
        }
      }
    }(i));
  }
}

$( document ).ready(function() {
  $('select#anmeldung_do_zeit_minigolf').attr('size','3')
  
  $('textarea[name=kommentar]').prop('rows', '5');

  if (!$('input[name=mitglied]').is(':checked')) {
	  $('input[name=bezirk]').prop('disabled', true);
  }
  $('input[name=mitglied]').change(function() {
	if ($(this).is(':checked')) {
	  $('input[name=bezirk]').prop('disabled', false);
	} else {
	  $('input[name=bezirk]').val("").prop('disabled', true);
	}
  });
  
  $('input[name=di_reichsparteitag]').change(function() {
	if ($(this).is(':checked')) {
	  $('input[name=di_rangierbahnhof]').attr('checked', false);
	}
  });
  $('input[name=di_dokuzentrum]').change(function() {
	if ($(this).is(':checked')) {
	  $('input[name=di_rangierbahnhof]').attr('checked', false);
	}
  });
  $('input[name=di_rangierbahnhof]').change(function() {
	if ($(this).is(':checked')) {
	  $('input[name=di_reichsparteitag]').attr('checked', false);
	  $('input[name=di_dokuzentrum]').attr('checked', false);
	}
  });
  
  
  options('mi_wanderung', 'mi_tiergarten');
  
  // Max Anzahl Teilnehmer
  {{for f in limit_erreicht:}}	
  $('input[name={{=f}}]').prop('disabled', true);
  {{pass}}

});
	
</script>

<h2>{{=T('Anmeldung zum Europatreffen 2016')}}</h2>

<p>{{=XML(T('Hier die Anmeldung zum Programm. Die Unterkunft bitte über %s buchen.' % A('separates Formular',_href='http://klublangermenschen.schmetterling-quadra.de/home',_target='blank')))}}</p>

<p>{{=XML(T('Es gelten die %s.' % A('Teilnahmebedingungen',_href='http://europatreffen2016.eu/index.php/de/anmeldung/teilnahmebedingungen',_target='blank')))}}</p>

<p>{{=XML(T('Anmeldungen können bis zum 31. März 2016 erfolgen.'))}}</p>

{{=form}}

{{#=response.toolbar()}}


