{{extend 'layout2.html'}}

{{
form.elements("#anmeldung_vorname__row")[0].insert(0,H3(T("Persönliche Daten")))
form.elements("#anmeldung_spieler__row")[0].insert(0,H3(T("Volleyballturnier")))
form.elements("#anmeldung_fr_bierstuben__row")[0].insert(0,H3(T("Karfreitag 03.04.2015")))
form.elements("#anmeldung_sa_flughafen__row")[0].insert(0,H3(T("Samstag 04.04.2015")))
form.elements("#anmeldung_so_spieler__row")[0].insert(0,H3(T("Ostersonntag 05.04.2015")))
form.elements("#anmeldung_mo_verabschiedung__row")[0].insert(0,H3(T("Ostermontag 06.04.2015")))
form.elements("#anmeldung_kommentar__row")[0].insert(0,H3(T("Sonstiges")))
}}
  
<script>
function options() {
  var params = arguments;
  if (params.length<2) {
    return;
  }
  for (var i=0; i<params.length; i++) {
    $('input[name='+params[i]+']').change(function(notuse) {
      return function() {
        if ($(this).is(':checked')) {
          for (var j=0; j<params.length; j++) {
            if (j != notuse) {
              $('input[name='+params[j]+']').attr('checked', false);
            }
          }
        }
      }
    }(i));
  }
}

$( document ).ready(function() {
  $('textarea[name=kommentar]').prop('rows', '2');

  if (!$('input[name=mitglied]').is(':checked')) {
	  $('input[name=bezirk]').prop('disabled', true);
  }
	
  $('input[name=mitglied]').change(function() {
	if ($(this).is(':checked')) {
	  $('input[name=bezirk]').prop('disabled', false);
	} else {
	  $('input[name=bezirk]').val("").prop('disabled', true);
	}
  });
  
  
  options('sa_flughafen', 'sa_kletterhalle');
  options('sa_rathaus', 'sa_krimitour');
  options('so_spieler', 'so_zuschauer');
  
  // Max Anzahl Teilnehmer
  {{for f in limit_erreicht:}}	
  $('input[name={{=f}}]').prop('disabled', true);
  {{pass}}

});
	
</script>

<h2>{{=T('Neue Anmeldung zum Ostervolleyballturnier 2015')}}</h2>

{{=form}}

{{#=response.toolbar()}}


