{{extend 'layout2.html'}}

<h3>{{=T('Die Anmeldung ist erfolgt!')}}</h3>
{{=T('Vielen Dank für die Anmeldung zum Ostervolleyballturnier in Leipzig vom 03. bis 06. April 2015.')}}
{{=BR()}}
{{=BR()}}
{{=T('Die Anmeldung wird erst verbindlich mit der Überweisung des Betrags von %(betrag).2f Euro auf das Konto des KdG Leipzig:') % vars}}
{{=BR()}}
{{=T('Konto-Nr.: 1630068167 / BLZ: 860 555 92 / Bankname: Sparkasse Leipzig')}}
{{=BR()}}
{{=T('IBAN: DE63 8605 5592 1630 0681 67 / BIC: WELADE8LXXX')}}
{{=BR()}}
{{=BR()}}
{{=T('Als Verwendungszweck bitte "OVT 2015 %(vorname)s %(nachname)s" angeben.') % vars}}
{{=BR()}}
{{=BR()}}
{{=T('Die Zahlung sollte bis 14 Tage nach Anmeldung erfolgen.')}}
{{=BR()}}
{{=T('Spätester Zahlungseingang ist der 13. März 2015.')}}
{{=BR()}}
{{=BR()}}
{{=T('Wir freuen uns sehr darauf, Dich in Leipzig zu begrüßen!') }}

 





