{{extend 'layout2.html'}}

<h3>{{=T('Die Anmeldung ist erfolgt!')}}</h3>
{{=T('Vielen Dank für die Anmeldung zum Europatreffen 2016 in Nürnberg vom 01. bis 08. Mai 2016.')}}
{{=BR()}}
{{=BR()}}
{{=T('Die Anmeldung wird erst verbindlich mit der Überweisung des Betrags von %(betrag).2f Euro auf das Konto des KLM Nürnberg:') % vars}}
{{=BR()}}
{{=konto}}
{{=BR()}}
{{=BR()}}
{{=T('Als Verwendungszweck bitte "ET 2016 %(vorname)s %(nachname)s" angeben.') % vars}}
{{=BR()}}
{{=BR()}}
{{=T('Die Zahlung sollte bis 14 Tage nach Anmeldung erfolgen.')}}
{{=BR()}}
{{=T('Spätester Zahlungseingang ist der ??.')}}
{{=BR()}}
{{=BR()}}
{{=T('Wir freuen uns sehr darauf, Dich in Nürnberg zu begrüßen!') }}

 





