{{extend 'layout.html'}}

{{
def printBirthday(day, month):
	rows=db((db.anmeldung.geburtsdatum.month()==month) & (db.anmeldung.geburtsdatum.day()==day)).select(
		db.anmeldung.vorname,db.anmeldung.nachname,db.anmeldung.geburtsdatum,db.anmeldung.bezirk)
	return SQLTABLE(rows, headers={'anmeldung.vorname':'Vorname',
	                               'anmeldung.nachname':'Nachname',
	                               'anmeldung.geburtsdatum':'Geburtsdatum',
	                               'anmeldung.bezirk':'Bezirk'}, _class="table table-striped")
	pass
}}
	

<h3>{{=T("Sonntag 01.08.2016")}}</h3>
{{=printBirthday(1,8)}}

<h3>{{=T("Montag 02.08.2016")}}</h3>
{{=printBirthday(2,8)}}

<h3>{{=T("Dienstag 03.08.2016")}}</h3>
{{=printBirthday(3,8)}}

<h3>{{=T("Mittwoch 04.08.2016")}}</h3>
{{=printBirthday(4,8)}}

<h3>{{=T("Donnerstag 05.08.2016")}}</h3>
{{=printBirthday(5,8)}}

<h3>{{=T("Freitag 06.08.2016")}}</h3>
{{=printBirthday(6,8)}}

<h3>{{=T("Samstag 07.08.2016")}}</h3>
{{=printBirthday(7,8)}}

<h3>{{=T("Sonntag 08.08.2016")}}</h3>
{{=printBirthday(8,8)}}
