{{extend 'layout.html'}}

{{
def printBirthday(day, month):
	rows=db((db.anmeldung.geburtsdatum.month()==month) & (db.anmeldung.geburtsdatum.day()==day)).select(
		db.anmeldung.vorname,db.anmeldung.nachname,db.anmeldung.geburtsdatum,db.anmeldung.bezirk)
	return SQLTABLE(rows, headers={'anmeldung.vorname':'Vorname',
	                               'anmeldung.nachname':'Nachname',
	                               'anmeldung.geburtsdatum':'Geburtsdatum',
	                               'anmeldung.bezirk':'Bezirk'}, _class="table table-striped")
	pass
}}
	

<h3>{{=T("Sonntag 01.05.2016")}}</h3>
{{=printBirthday(1,5)}}

<h3>{{=T("Montag 02.05.2016")}}</h3>
{{=printBirthday(2,5)}}

<h3>{{=T("Dienstag 03.05.2016")}}</h3>
{{=printBirthday(3,5)}}

<h3>{{=T("Mittwoch 04.05.2016")}}</h3>
{{=printBirthday(4,5)}}

<h3>{{=T("Donnerstag 05.05.2016")}}</h3>
{{=printBirthday(5,5)}}

<h3>{{=T("Freitag 06.05.2016")}}</h3>
{{=printBirthday(6,5)}}

<h3>{{=T("Samstag 07.05.2016")}}</h3>
{{=printBirthday(7,5)}}

<h3>{{=T("Sonntag 08.05.2016")}}</h3>
{{=printBirthday(8,5)}}
