/** general stuff **/

.navbar {display: none;}
#header {display: none;}
.footer {display: none;}
body {background-color:#fca623; padding-top:0px}
.simpletable td {padding-right:15px}
h2 {padding-bottom:20px;}

/** create form **/

#create_form .w2p_fl {display: inline-block; width:370px; padding-right:10px; vertical-align: top;}
#create_form .w2p_fw {display: inline-block; padding-right:15px; padding-bottom: 15px}
#create_form .w2p_fc {display: inline-block; padding-right:15px;}
#create_form input.boolean {vertical-align: top;}
#create_form #submit_record__row {padding-top:30px;}
#create_form label {white-space:normal;}
